* {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  .test-list {
      list-style-type: none;
  }
  
  .test-list li {
      display: inline;
      margin-right: 1rem;
      color: #42b983;
      cursor: pointer;
  }
  .row-bg{
      margin-bottom: 20px;
  }